.activity-screen{
    background-image: url('https://s3-alpha-sig.figma.com/img/fa56/bd65/60c51db815c7b8d80cfda1a8921ca84f?Expires=1717372800&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=h9QeR0wRav8FAzc8oxB1pWNSE8IgC4X8qf~VAToqAev7829gKDflVuWV01AYgLx6Qhc~PuLWoPV86t206~D3hie45B0-h4qvpxgTWOSOD3nxM3q-2P4D9RyWiHTgOgG51w8xTuYlxvM~Q0kG~e3Ky3FXjvEVeW98Fq-PMyViUzqthihxZcbYPlpgRiNKMw9n1NWUbuVFtWumVBEe78br~z9O8vl5OdNywG6RLH-Faf4vLtwxjJMKNu1SnmkfYPIuRYLW6y~0FSAgG~EMmEXpD3lRk-YVgYr~9xYjf-G~fP28OqVw2ug2t~Ev1CVqkTdWDy8-1th75KtUd5VmNz62Rw__');
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.game-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: center;
    gap: 30px;
}

.scoreboard {
    display: flex;
    justify-content: space-between;
    width: 350px;
    margin-bottom: 10px;
}

.board {
    display: flex;
    width: 100vw;
    height: 70vh;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    align-items: center;
    flex-wrap: wrap;
  }

  .board-left {
    display: flex;
    flex-direction: row;
    width: 500px;
    flex-wrap: wrap;
    gap: 50px;
  }
  
  .board-right {
    display: flex;
    flex-direction: row;
    width: 500px;
    flex-wrap: wrap;
    gap: 50px;
  }